@import 'spacing'
@import 'typography'

.header-logo
  width: 35%
  display: block
  @extend .margin-auto
  padding-top: 32px

.line-break
  border-bottom: 1px solid #D8D8D8
  width: 66.93%
  @extend .margin-auto
  padding: 16px 0 32px 0

.header-text
  font-size: 1.895rem
  text-align: center
  width: 69.86%
  @extend .margin-auto
  line-height: 23px
  padding: 32px 0 16px 0

.header-subtext
  font-size: 1.422rem
  text-align: center
  width: 49.6%
  line-height: 17px
  @extend .margin-auto
  padding: 16px 0 32px 0